@tailwind base;
@tailwind components;
@tailwind utilities;


.scroll-to-top{
    position: relative;
    background-color: #F40404 !important;
}
.scroll-to-top svg{
    position: absolute;
    top: 6px;
    left: 5px;
    color: #ffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 30px;
    height: 30px;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #fff;
  }
  
  .svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
  }